body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f5f5; */
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    /* background-color: #ffffff; */
    
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.6);
    width: 300px;
}

h2{
    text-align:center;
    color:#ffffff;
}

label{
    display:block;
    color: #fff;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-submit:hover {
    background-color: #0056b3;
}
